.lc-parts {
  margin-top: 70px;

  @mixin <md {
    margin-top: 60px;
  }

  &__title {
    margin-bottom: 40px;

    @mixin <md {
      margin-bottom: 32px;
    }
  }
  &__viewport {
    position: relative;
    overflow: hidden;
    padding-top: 34px;
    padding-bottom: 10px;
    margin-top: -34px;
    margin-bottom: -10px;
    // margin: 0 -11px;

    // border: 2px solid red;

    &::after {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 20px;
      background-color: #ffffff;
      box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.25);
    }
  }
  &_end &__viewport {
    &::after {
      display: none;
    }
  }
  &__prev,
  &__next {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    @media (pointer: coarse) {
      display: none;
    }

    svg {
      height: 40px;
      fill: rgba(255, 255, 255, 0.7);
      transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg {
      fill: rgba(255, 255, 255, 0.9);
    }
  }
  &__prev {
    left: 20px;

    svg {
      transform: scaleX(-1);
    }
  }
  &_start &__prev {
    display: none;
  }
  &__next {
    right: 20px;
  }
  &_end &__next {
    display: none;
  }
  &__container {
    display: flex;
    overflow: auto;
    margin: 0 -11px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    flex-shrink: 0;
    width: 243px;
    padding: 0 11px;
    scroll-snap-align: start;
    // scroll-snap-stop: always;
    // scroll-margin: 11px;
  }
  &__item-pic {
    background-color: #fafdff;
    border: 1px solid #d2e6f4;
    border-radius: 10px;
    margin-bottom: 12px;
    height: 305px;
    padding: 20px 16px;
  }
  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }
  &__item-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #121317;
    padding: 0;
    margin: 0;
  }
}
